#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/outputs.h>

#define HYPER(keycode) LS(LC(LA(LG(keycode))))
#define MEH(keycode) LS(LC(LA(keycode)))
#define AMYTH LS(LEFT_ALT)
#define BLANK &none
#define DV_LCUT LG(LS(LBKT))
#define DV_RCUT LG(LS(RBKT))
#define AS(keycode) &as LS(keycode) keycode

#define PRIMARY 0
#define COLEMAK 1
#define SYMBOLS 2
#define KEYPAD  3
#define APPS    4
#define MOD     5
#define MOVE    6

/ {
  behaviors {
    #include "macros.dtsi"


    // hm: homerow_mods {
    //     compatible = "zmk,behavior-hold-tap";
    //     label = "HOMEROW_MODS";
    //     #binding-cells = <2>;
    //     tapping-term-ms = <200>;
    //     quick_tap_ms = <175>;
    //     flavor = "tap-preferred";
    //     bindings = <&kp>, <&kp>;
    // };
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <150>;
        quick-tap-ms = <0>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
      };
    };

    gqt: global-quick-tap {
      compatible = "zmk,behavior-hold-tap";
      label = "GLOBAL_QUICK_TAP";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      quick-tap-ms = <175>;
      global-quick-tap;
      bindings = <&kp>, <&kp>;
    };

    as: auto_shift {
      compatible = "zmk,behavior-hold-tap";
      label = "AUTO_SHIFT";
      #binding-cells = <2>;
      tapping_term_ms = <135>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  //    1            2             3            4             5                 6           7              8             9               10            11       12         13           14             15               16           17         18         19           20          21               22
  /*───────────┬─────────────┬────────────┬────────────┬───────────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
  /*    ±      │     1       │     2      │     3      │     4             │    5     │     KP       │     ∅       │     ∅      │        ∅        │   ∅    │   ∅    │     ∅      │     ∅        │     ∅         │     Mod      │     6      │    7     │    8      │    9      │     0      │      -=         */
    &kp LC(UP)   &kp N1         &kp N2        &kp N3      &kp N4             &kp N5     &tog COLEMAK                                                                                                             &mo MOD          &kp N6       &kp N7     &kp N8      &kp N9      &kp N0          &sl APPS
  /*───────────┬─────────────┬────────────┬────────────┬───────────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
  /*   Tab     │   Q         │    W       │     E      │     R             │    T     │    〇1       │     ∅       │     ∅      │        ∅        │   ∅    │   ∅    │     ∅      │     ∅        │     ∅         │    〇3       │    Y       │    U     │    I      │     O     │     P      │     \           */
    &kp TAB      &kp Q          &kp W         &kp E       &kp R              &kp T      &kp DEL                                                                                                                  &tog KEYPAD      &kp Y        &kp U      &kp I       &kp O       &kp P           &kp BSLH
  /*───────────┬─────────────┬────────────┬────────────┬───────────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
  /*           │   A         │    S       │     D      │     F             │    G     │    〇2       │     ∅       │            │                 │        │        │            │              │     ∅         │    〇4       │    H       │    J     │    K      │     L     │     ;      │     '           */
    &kp MINUS    &gqt LCTRL A &gqt LEFT_ALT S &gqt LCMD D     &gqt LSHIFT F      &kp G      &kp ESC                       &mo MOVE      &kp LEFT_ALT                  &kp LGUI      &kp AMYTH                    &kp MINUS        &kp H     &gqt RSHFT J &gqt RGUI K  &gqt RALT L &gqt RCTRL SEMI &kp SQT
  /*───────────┬─────────────┬────────────┬────────────┬───────────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
  /*  Shift    │   Z         │    X       │     C      │     V             │    B     │      ∅       │             │            │                 │        │        │            │              │               │    ∅         │    &       │    M     │    ,      │     .     │     ?      │     Shift       */
    &kp LSHFT    &kp Z          &kp X         &kp C       &kp V              &kp B                                                  &kp TAB                           &kp CAPS                                                     &kp N       &kp M      &kp COMMA   &kp DOT     &kp FSLH        &kp RSHFT
  /*───────────┬─────────────┬────────────┬────────────┬───────────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
  /*  Ctrl     │   Alt       │            │            │    CMD            │    ∅     │      ∅       │             │            │                 │    ∅   │    ∅   │            │              │               │    ∅         │     ∅      │     ←    │     ↓     │    ↑      │     →      │                 */
    &kp LCTRL    &kp LEFT_ALT   &kp MINUS    &kp EQUAL    &kp LCMD                                     &mo SYMBOLS   &kp ENTER      &kp LCTRL                         &kp LSHFT     &kp SPACE     &kp BACKSPACE                                &kp LEFT   &kp DOWN    &kp UP      &kp RIGHT       &mo SYMBOLS
  /*──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/
>;
        };

        layer_Colemak {
            bindings = <
 &to PRIMARY  &trans         &trans        &trans        &trans          &trans  &trans                                                                         &trans  &trans  &trans  &trans  &trans  &trans           &trans
 &trans       &kp Q          &kp W         &kp F         &kp P           &kp G   &trans                                                                         &trans  &kp J   &kp L   &kp U   &kp Y   &kp SEMI         &trans
 &trans       &gqt LCTRL A   &gqt LALT R   &gqt LGUI S   &gqt LSHIFT T   &kp D   &trans                 &trans  &trans                  &trans  &trans          &trans  &kp H  &gqt RSHIFT N   &gqt RGUI E   &gqt RALT I   &gqt RCTRL O    &trans
 &trans       &trans         &trans        &trans        &trans          &trans                                 &trans                  &trans                          &kp K   &trans  &trans  &trans  &gqt RCTRL FSLH  &trans
 &trans       &trans         &trans        &trans        &trans                            &mo SYMBOLS  &trans  &trans                  &trans  &trans  &trans                  &trans  &trans  &trans  &trans           &trans
            >;
        };

        layer_Symbols {
            bindings = <
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*    ±      │     1       │     2      │     3      │     4      │    5     │     KP       │     ∅       │     ∅      │        ∅        │   ∅    │   ∅    │     ∅      │     ∅        │     ∅         │     Mod      │     6      │    7     │    8      │    9      │     0      │      -=         */
                &to PRIMARY  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &bootloader                                                                                                            &bootloader     &kp C_PREV  &kp C_PP    &trans       &trans     &trans        &bootloader
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*   Tab     │   Q         │    W       │     E      │     R      │    T     │    〇1       │     ∅       │     ∅      │        ∅        │   ∅    │   ∅    │     ∅      │     ∅        │     ∅         │    〇3       │    Y       │    U     │    I      │     O     │     P      │     \           */
          &macro_codeblock   &trans        &kp AT        &kp LBRC     &kp RBRC     &macro_vimsbb &trans                                                                                                                 &none           &kp BSLH    &kp GRAVE      &kp STAR       &kp EXCL     &kp FSLH        &trans
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*           │   A         │    S       │     D      │     F      │    G     │    〇2       │     ∅       │            │                 │        │        │            │              │     ∅         │    〇4       │    H       │    =     │    >      │     |     │     ;      │     '           */
          &macro_tmux_vim    &kp HASH      &kp DOLLAR    &kp LPAR     &kp RPAR     &kp TAB       &trans                     &none          &trans                           &trans      &trans                          &none           &kp MINUS    &kp EQUAL   &kp GT       &kp PIPE   &kp TILDE        &kp FSLH
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*  Shift    │   Z         │    X       │     C      │     V      │    B     │      ∅       │             │            │                 │        │        │            │              │               │    ∅         │    &       │    M     │    ,      │     .     │     ?      │     Shift       */
               &trans        &kp PERCENT   &kp CARET     &kp LBKT     &kp RBKT     &kp LGUI                                               &trans                            &trans                                                      &kp AMPS    &kp TILDE   &trans       &trans     &trans        &trans
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*  Ctrl     │   Alt       │            │            │    CMD     │    ∅     │      ∅       │             │            │                 │    ∅   │    ∅   │            │              │               │    ∅         │     ∅      │     ←    │     ↓     │    ↑      │     →      │                 */
                &trans       &trans        &trans        &trans       &trans                                   &trans       &trans         &trans                           &caps_word     &trans         &kp ESC                                   &kp C_MUTE  &kp C_VOL_DN &kp C_VOL_UP &trans      &none
              /*─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/
            >;
        };

        layer_Keypad {
            bindings = <
 &to PRIMARY       &kp N1      &kp N2                &kp N3                 &kp N4        &kp N5            &bootloader                                                               &mo MOD  &kp N6  &kp KP_NUM      &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &bootloader
   &kp TAB        &kp Q    &kp AT        &kp LEFT_BRACE        &kp RIGHT_BRACE         &kp T                  &none                                                               &none   &kp Y   &kp KP_N7         &kp KP_N8      &kp KP_N9     &kp KP_MINUS     &kp BSLH
   &kp ESC       &kp HASH  &kp DOLLAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp ASTERISK                  &none   &trans    &trans                     &trans     &trans      &none   &kp H   &kp KP_N4         &kp KP_N5      &kp KP_N6      &kp KP_PLUS      &kp SQT
 &kp LSHFT  &kp PERCENT   &kp CARET      &kp LEFT_BRACKET      &kp RIGHT_BRACKET     &kp GRAVE                                  &to COLEMAK                  &kp PG_UP                         &kp N   &kp KP_N1         &kp KP_N2      &kp KP_N3     &kp KP_ENTER    &kp RSHFT
  &trans       &trans      &trans                &trans          &kp AMPERSAND                               &trans   &trans    &trans                     &trans  &kp ENTER  &kp KP_N0           &kp EQUAL  &kp GREATER_THAN     &kp KP_DOT           &trans          &trans
            >;
        };

        layer_Apps {
            bindings = <
&trans    &kp F1          &kp F2          &kp F3          &kp F4        &kp F5          &kp F6                                                                                     &kp F7   &kp F8          &kp F9           &kp F10        &kp F11       &kp F12       &trans
&trans    &kp HYPER(Q)    &kp HYPER(W)    &kp HYPER(E)    &kp HYPER(R)  &kp HYPER(T)    &trans                                                                                     &trans   &kp HYPER(Y)    &kp HYPER(U)     &kp HYPER(I)   &kp HYPER(O)  &kp HYPER(P)  &trans
&trans    &kp HYPER(A)    &kp HYPER(S)    &kp HYPER(D)    &kp HYPER(F)  &kp HYPER(G)    &trans                &none       &none                   &trans    &trans                 &trans   &kp HYPER(H)    &kp HYPER(J)     &kp HYPER(K)   &kp HYPER(L)  &trans        &trans
&trans    &kp HYPER(Z)    &kp HYPER(X)    &kp HYPER(C)    &kp HYPER(V)  &kp HYPER(B)                                      &trans                  &trans                                    &kp HYPER(N)    &kp HYPER(M)     &trans         &trans        &trans        &trans
&trans    &trans          &trans          &trans          &trans                                  &trans      &trans      &trans                  &trans   &trans  &trans                                   &trans           &trans         &trans        &trans        &trans
            >;
        };

        layer_mod {
            bindings = <
  &none         &kp C_BRI_DEC &kp C_BRI_INC   &none         &none               &none            &none                                                                                                                                          &trans                   &bt BT_SEL 0 &bt BT_SEL 1       &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none
  &none         &none         &none           &none         &none               &none            &bootloader                                                                                                                   &bootloader              &none        &none              &none         &none         &none         &none
  &none         &none         &none           &none         &none               &none            &rgb_ug RGB_MEFS_CMD 5                    &bt BT_CLR    &none                                &bt BT_CLR       &bt BT_CLR         &rgb_ug RGB_MEFS_CMD 5   &none        &none              &none         &none         &none         &none
  &none         &none         &none           &none         &macro_tmux_vim     &none                                                                    &none                                &none                                                             &none        &none              &none         &none         &none         &none
  &none         &none         &none           &bl BL_INC    &bl BL_DEC                                                    &rgb_ug RGB_TOG  &bl BL_TOG    &none         &none      &bl BL_TOG  &rgb_ug RGB_TOG                                                                                 &bl BL_INC         &bl BL_DEC    &none         &none         &none

  /*───────────┬─────────────┬──────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
  /*           │             │              │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
    // &to PRIMARY &kp C_BRI_DEC  &kp C_BRI_INC &none        &none        &none      &none                                                                                                             &mo MOD          &kp N6      &kp N7     &kp N8      &kp N9     &kp N0        &sl APPS
  /*───────────┬─────────────┬──────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
  /*           │   Q         │              │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
    // &trans      &none          &none         &none        &none        &none      &none                                                                                                                  &tog KEYPAD      &kp Y       &kp U      &kp I       &kp O      &kp P         &kp BSLH
  /*───────────┬─────────────┬──────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
  /*           │   A         │              │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
    // &trans      &none          &none         &none        &none        &none      &rgb_ug RGB_MEFS_CMD 5         &kp GRAVE    &mo MOVE        BLANK    BLANK    &kp LGUI      &kp AMYTH                     &kp MINUS        &kp HOME    &kp PG_DN  &kp PG_UP   &kp END    &kp SEMI      &kp SQT
  /*───────────┬─────────────┬──────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
  /*           │   Z         │              │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
    // &trans      &none          &none         &none        &none        &none                     BLANK           BLANK        &kp TAB         BLANK     BLANK   &kp CAPS      BLANK         BLANK                            &kp N       &kp M      &kp COMMA   &kp DOT    &kp FSLH      &kp RSHFT
  /*───────────┬─────────────┬──────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
  /*           │             │              │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
    // &trans      &none          &none         &bl BL_INC   &bl BL_DEC                             &rgb_ug RGB_TOG &bl BL_TOG   &kp LEFT_SHIFT                    &kp RCTRL     &kp SPACE     &kp BACKSPACE                               &kp LEFT   &kp DOWN    &kp UP     &kp RIGHT     &tog MOVE
  /*─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/
            >;
        };

        layer_Move {
            bindings = <
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*           │             │            │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
                &to PRIMARY  &kp N1         &kp N2       &kp N3       &kp N4       &kp N5     &tog COLEMAK                                                                                                             &mo MOD          &kp N6      &kp N7     &kp N8      &kp N9     &kp N0        &sl APPS
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*           │   Q         │            │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
                &kp TAB      &kp Q          &kp W        &kp E        &kp R        &kp T      &kp DEL                                                                                                                  &tog KEYPAD      &kp Y       &kp U      &kp I       &kp O      &kp P         &kp BSLH
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*           │   A         │            │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
                &kp MINUS    &kp A          &kp DV_LCUT  &kp DV_RCUT  &kp LG(B)    &kp G      &kp ESC                      &kp GRAVE     &mo MOVE                          &kp LGUI      &kp AMYTH                     &kp MINUS        &kp HOME    &kp PG_DN  &kp PG_UP   &kp END    &kp SEMI      &kp SQT
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*           │   Z         │            │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
                &kp LSHFT    &kp Z          &kp DV_LCUT  &kp DV_RCUT  &kp V        &kp B                                                 &kp TAB                           &kp CAPS                                                     &kp N       &kp M      &kp COMMA   &kp DOT    &kp FSLH      &kp RSHFT
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*           │             │            │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
                &kp LCTRL    &kp LEFT_ALT   &kp MINUS    &kp EQUAL    &kp LCMD                               &mo SYMBOLS   &kp ENTER     &kp LEFT_SHIFT                    &kp RCTRL     &kp SPACE     &kp BACKSPACE                               &kp LEFT   &kp DOWN    &kp UP     &kp RIGHT     &tog MOVE
              /*─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/
            >;
        };

    };
};
