#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/outputs.h>

#define HYPER LS(LC(LA(LCMD)))
#define MEH LS(LC(LEFT_ALT))
#define AMYTH LS(LEFT_ALT)
#define BLANK &none
#define DV_LCUT LG(LS(LBKT))
#define DV_RCUT LG(LS(RBKT))

#define DEFAULT 0
#define SYMBOLS 1
#define KEYPAD  2
#define APPS    3
#define MOD     4
#define COLEMAK 5
#define MOVE 6


/ {
  behaviors {
    #include "macros.dtsi"


    hm: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick_tap_ms = <175>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
    };
  };

    keymap {
        compatible = "zmk,keymap";


        default_layer {
            bindings = <
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*           │             │            │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
                &kp LC(UP)   &kp N1         &kp N2       &kp N3       &kp N4       &kp N5     &tog COLEMAK                                                                                                             &mo MOD          &kp N6      &kp N7     &kp N8      &kp N9     &kp N0        &sl APPS
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*           │   Q         │            │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
                &kp TAB      &kp Q          &kp W        &kp E        &kp R        &kp T      &kp DEL                                                                                                                  &tog KEYPAD      &kp Y       &kp U      &kp I       &kp O      &kp P         &kp BSLH
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*           │   A         │            │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
                &kp MINUS    &kp A          &kp S        &kp D        &kp F        &kp G      &kp ESC                      &mo MOVE     &kp GRAVE        BLANK    BLANK    &kp LGUI      &kp AMYTH                     &kp MINUS        &kp H       &kp J      &kp K       &kp L      &kp SEMI      &kp SQT
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*           │   Z         │            │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
                &kp LSHFT    &kp Z          &kp X        &kp C        &kp V        &kp B                     BLANK         BLANK         &kp TAB         BLANK     BLANK   &kp CAPS      BLANK         BLANK                            &kp N       &kp M      &kp COMMA   &kp DOT    &kp FSLH      &kp RSHFT
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*           │             │            │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
                &kp LCTRL    &kp LEFT_ALT   &kp MINUS    &kp EQUAL    &kp LCMD                               &mo SYMBOLS   &kp ENTER     &kp LEFT_SHIFT                    &kp RCTRL     &kp SPACE     &kp BACKSPACE                               &kp LEFT   &kp DOWN    &kp UP     &kp RIGHT     &tog MOVE
              /*─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/
            >;

        };

        layer_Symbols {
            bindings = <
 &to DEFAULT       &kp C_BRI_INC      &kp C_BRI_DEC                &kp N3                 &kp N4        &kp N5            &bootloader                                                               &mo MOD  &kp C_PREV  &kp C_PP      &kp  C_NEXT  &kp KP_DIVIDE  &kp KP_MULTIPLY  &bootloader
   &kp TAB        &kp Q    &kp AT        &kp LEFT_BRACE        &kp RIGHT_BRACE         &kp T                  &mo MOD                                                               &none   &kp Y   &kp KP_N7         &kp KP_N8      &kp KP_N9     &kp KP_MINUS     &kp BSLH
   &kp ESC       &kp HASH  &kp DOLLAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp ASTERISK                  &none   &trans    &trans   &none   &none     &trans     &trans      &none   &kp H   &kp EQUAL         &kp GREATER_THAN      &kp PIPE      &kp KP_PLUS      &kp SQT
 &macro_vimsbb  &kp PERCENT   &kp CARET      &kp LEFT_BRACKET      &kp RIGHT_BRACKET     &kp GRAVE                  &none    &none  &to COLEMAK   &none   &none  &kp PG_UP      &none      &none   &kp AMPERSAND   &kp KP_N1         &kp KP_N2      &kp KP_N3     &kp KP_ENTER    &kp RSHFT
     &mo APPS    &kp GRAVE    &kp CAPS              &kp LEFT          &trans                             &kp BSPC  &kp DEL   &kp END                  &kp PG_DN  &kp SPACE  &kp BACKSPACE           &kp LEFT  &kp DOWN     &kp KP_DOT         &kp RBKT        &mo APPS
            >;
        };


        layer_Keypad {
            bindings = <
 &to DEFAULT       &kp N1      &kp N2                &kp N3                 &kp N4        &kp N5            &bootloader                                                               &mo MOD  &kp N6  &kp KP_NUM      &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &bootloader
   &kp TAB        &kp Q    &kp AT        &kp LEFT_BRACE        &kp RIGHT_BRACE         &kp T                  &none                                                               &none   &kp Y   &kp KP_N7         &kp KP_N8      &kp KP_N9     &kp KP_MINUS     &kp BSLH
   &kp ESC       &kp HASH  &kp DOLLAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp ASTERISK                  &none   &trans    &trans   &none   &none     &trans     &trans      &none   &kp H   &kp KP_N4         &kp KP_N5      &kp KP_N6      &kp KP_PLUS      &kp SQT
 &kp LSHFT  &kp PERCENT   &kp CARET      &kp LEFT_BRACKET      &kp RIGHT_BRACKET     &kp GRAVE                  &none    &none  &to COLEMAK   &none   &none  &kp PG_UP      &none      &none   &kp N   &kp KP_N1         &kp KP_N2      &kp KP_N3     &kp KP_ENTER    &kp RSHFT
  &trans       &trans      &trans                &trans          &kp AMPERSAND                               &trans   &trans    &trans                     &trans  &kp ENTER  &kp KP_N0           &kp EQUAL  &kp GREATER_THAN     &kp KP_DOT           &trans          &trans
            >;
        };

        layer_Apps {
            bindings = <
&trans &kp F1            &kp F2                   &kp F3    &kp F4  &kp F5             &kp F6                                                                                 &kp F7  &kp F8    &kp F9     &kp F10   &kp F11     &kp F12      &trans
&trans    &kp LS(LA(LC(LG(Q))))    &kp LS(LA(LC(LG(W))))    &kp LS(LA(LC(LG(E))))    &kp LS(LA(LC(LG(R))))  &kp LS(LA(LC(LG(T))))           &trans                                                                                 &trans   &kp LS(LA(LC(LG(Y))))    &kp LS(LA(LC(LG(U))))     &kp LS(LA(LC(LG(I))))   &kp LS(LA(LC(LG(O))))     &kp LS(LA(LC(LG(P))))  &trans
&trans    &kp LS(LA(LC(LG(A))))    &kp LS(LA(LC(LG(S))))    &kp LS(LA(LC(LG(D))))    &kp LS(LA(LC(LG(F))))  &kp LS(LA(LC(LG(G))))           &trans  &trans       &trans   &trans   &trans         &trans      &trans  &trans   &kp LS(LA(LC(LG(H))))    &kp LS(LA(LC(LG(J))))     &kp LS(LA(LC(LG(K))))   &kp LS(LA(LC(LG(L))))  &trans    &trans
&trans    &kp LS(LA(LC(LG(Z))))    &kp LS(LA(LC(LG(X))))    &kp LS(LA(LC(LG(C))))    &kp LS(LA(LC(LG(V))))  &kp LS(LA(LC(LG(B))))             &trans      &trans      &trans   &trans   &trans        &trans          &trans      &trans   &kp LS(LA(LC(LG(N))))    &kp LS(LA(LC(LG(M)))) &trans  &trans   &trans  &trans
&trans &trans                      &trans  &trans  &trans                      &trans  &trans  &trans                  &trans &trans  &trans          &trans   &trans   &trans  &trans      &trans
            >;
        };

        layer_mod {
            bindings = <
  &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                             &none                                                                              &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4   &none
  &none         &none         &none         &none         &none         &none                       &bootloader                                                                         &bootloader         &none         &none         &none         &none         &none   &none
  &none         &none         &none         &none         &none         &none            &rgb_ug RGB_MEFS_CMD 5  &bt BT_CLR   &none   &none   &none  &bt BT_CLR  &bt BT_CLR  &rgb_ug RGB_MEFS_CMD 5         &none         &none         &none         &none         &none   &none
  &none         &none         &none         &none         &none         &none                             &none       &none   &none   &none   &none       &none       &none                   &none         &none         &none         &none         &none         &none   &none
  &none         &none         &none    &bl BL_INC    &bl BL_DEC                                 &rgb_ug RGB_TOG  &bl BL_TOG  &none                       &none  &bl BL_TOG         &rgb_ug RGB_TOG                  &bl BL_INC    &bl BL_DEC         &none         &none   &none
            >;
        };

        layer_Colemak {
            bindings = <
 &to DEFAULT  &trans  &trans  &trans  &trans  &trans             &trans                                                  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans   &kp Q   &kp W   &kp F   &kp P   &kp G            &trans                                                  &trans  &kp J  &kp L  &kp U  &kp Y  &kp SEMI  &trans
 &trans  &kp A  &kp R  &kp S  &kp T  &kp D                 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp H  &kp N  &kp E  &kp I  &kp O  &trans
 &trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp K  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans                  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_Move {
            bindings = <
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*           │             │            │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
                &to 0        &kp N1         &kp N2       &kp N3       &kp N4       &kp N5     &tog COLEMAK                                                                                                             &mo MOD          &kp N6      &kp N7     &kp N8      &kp N9     &kp N0        &sl APPS
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*           │   Q         │            │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
                &kp TAB      &kp Q          &kp W        &kp E        &kp R        &kp T      &kp DEL                                                                                                                  &tog KEYPAD      &kp Y       &kp U      &kp I       &kp O      &kp P         &kp BSLH
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*           │   A         │            │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
                &kp MINUS    &kp A          &kp DV_LCUT  &kp DV_RCUT  &kp LG(B)    &kp G      &kp ESC                      &kp GRAVE     &mo MOVE        BLANK    BLANK    &kp LGUI      &kp AMYTH                     &kp MINUS        &kp LEFT       &kp DOWN      &kp UP       &kp RIGHT      &kp SEMI      &kp SQT
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*           │   Z         │            │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
                &kp LSHFT    &kp Z          &kp DV_LCUT  &kp DV_RCUT  &kp V        &kp B                     BLANK         BLANK         &kp TAB         BLANK     BLANK   &kp CAPS      BLANK         BLANK                            &kp N       &kp M      &kp COMMA   &kp DOT    &kp FSLH      &kp RSHFT
              /*───────────┬─────────────┬────────────┬────────────┬────────────┬──────────┬──────────────┬─────────────┬────────────┬─────────────────┬────────┬────────┬────────────┬──────────────┬───────────────┬──────────────┬────────────┬──────────┬───────────┬───────────┬────────────┬─────────────────*/
              /*           │             │            │            │            │          │              │             │            │                 │        │        │            │              │               │              │            │          │           │           │            │                 */
                &kp LCTRL    &kp LEFT_ALT   &kp MINUS    &kp EQUAL    &kp LCMD                               &mo SYMBOLS   &kp ENTER     &kp LEFT_SHIFT                    &kp RCTRL     &kp SPACE     &kp BACKSPACE                               &kp LEFT   &kp DOWN    &kp UP     &kp RIGHT     &mo APPS
              /*─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/
            >;
        };

    };
};
